/* Made by Yago Estévez (Twitter: @yagoestevez.com) */

/*****************
 *****************
    MENU STYLES
 *****************
 *****************/

/***** Overlay Layer *****/
/* .bg {
  background-color: rgba(0, 0, 0, 0.329);
} */

.navber {
  background: rgba(5, 5, 5, 0.342);
  border-radius: 10%;
  margin-left: 5px;
}
@media only screen and (max-width: 990px) {
  .navber {
    background: rgb(238, 234, 234);
    color: rgb(0, 0, 0);
    border-radius: 0%;
    padding: "50px";
  }
}

.navber:hover,
.navber:active {
  color: #00f329;
}
